@model FlyrodWebAppMVC.Models.Flyrod

@{
    ViewData["Title"] = "Flyrod Details";
}

<h1 class="page-header">Flyrod Details</h1>

<div class="not-table">
    <dl class="row">
        <dt class="col-sm-2">
            Maker
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Maker.Name)
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LengthFeet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LengthFeet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sections)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sections)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LineWeight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LineWeight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YearMade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YearMade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Construction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Construction)
        </dd>
    </dl>
    <img src="" id="rodImage" name="rodImage" alt="Rod Image" style="height: 100%; width: 100%; object-fit: contain">
</div>
<div>
    
    @*<img src="~/lib/images/leonard37h.webp" alt="Leonard 37H" style="width: 50%; height: 50%">*@
</div>
<div class="red">
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="red">Edit</a> |
    <a asp-action="Index" class="red">Back to List</a>
</div>
<script type="text/javascript">

    //alert("Loaded Details");
    //document.getElementById('rodImage').src = "../../lib/images/leonard37h.webp";
    document.getElementById('rodImage').src = "../../lib/images/@Html.Raw(Model.RodImage)";

</script>
